# {{ project_name }}

{% if repository_provider == "github.com" -%}
[![ci](https://github.com/{{ repository_namespace }}/{{ repository_name }}/workflows/ci/badge.svg)](https://github.com/{{ repository_namespace }}/{{ repository_name }}/actions?query=workflow%3Aci)
[![documentation](https://img.shields.io/badge/docs-mkdocs-708FCC.svg?style=flat)](https://{{ repository_namespace }}.{{ repository_provider[:-4] }}.io/{{ repository_name }}/)
{% else -%}
[![documentation](https://img.shields.io/badge/docs-mkdocs-708FCC.svg?style=flat)](https://in-stigler.htw-aalen.de/docs/{{ repository_namespace }}/{{ repository_name }}/)
{% endif -%}
[![pypi version](https://img.shields.io/pypi/v/{{ python_package_distribution_name }}.svg)](https://pypi.org/project/{{ python_package_distribution_name }}/)

{{ project_description }}

## Installation

```bash
pip install {{ python_package_distribution_name }}
```

{% if python_package_command_line_name -%}
With [`uv`](https://docs.astral.sh/uv/):

```bash
uv tool install {{ python_package_distribution_name }}
```
{%- endif -%}
